<style type="text/css">
<!--
.style2 {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 36px;
	color: #0033CC;
}
#apDiv1 {
	position:absolute;
	left:469px;
	top:736px;
	width:339px;
	height:25px;
	z-index:1;
}
.style3 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 12px;
}
#apDiv2 {
	position:absolute;
	left:113px;
	top:823px;
	width:769px;
	height:482px;
	z-index:2;
}
-->
        </style>